body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 200px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
